<mat-toolbar color="primary" class="header">
    <span>Astronomy Picture of the Day</span>
  </mat-toolbar>
  
  <div class="container-main">
    <mat-card *ngIf="picOfTheDay$ | async as picData" class="pic-card">
      <mat-card-header>
        <mat-card-title>{{ picData.title }}</mat-card-title>
        <mat-card-subtitle>{{ picData.date }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="picData.url" alt="Astronomy Picture of the Day" *ngIf="picData.media_type === 'image'">
      <mat-card-content>
        <p>{{ picData.explanation }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="marsPhoto$ | async as marsData" class="pic-card">
        <mat-card-header>
          <mat-card-title>Earth date: {{ marsData.photos[0].earth_date }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="marsData.photos[0].img_src" alt="Mars Photo">
        <mat-card-content>
          <p>Photo id: {{ marsData.photos[0].id }}</p>
        </mat-card-content>
      </mat-card>
  </div>
  